*.sdf
*.pdb
*.ilk
*.res
*.obj
*.log
*.pch
*.opensdf
*.rar
*.o
*.a
*.APS
*.tlog
*.idb
*.exp
*ipch
*.tlb
*.ncb
*.xz
*.bz
*.bz2
*.exe
*GeneratedFiles

.project
.idea/
*.iml
*.swp
*.log
.DS_Store
.vscode
go.sum
vendor/
bin/